@use 'global' as *;

// sm size 375px
// tb size 768px
// pc size 1440px

.card_img {
  // 以下のposition、top、transformで、
  // 画像の上下位置を調整し、width: 100%; で横幅いっぱいに表示されるよう指定しています。
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
